@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);

// define colors
$dark-gray: #535353;
$light-gray: #8D8D8D;
$lightest-gray: #C4C4C4;
$pink: #ED0170;
$blue: #1c66f0;
$pale-yellow: #faf684;
$yellow: #fff700;

body {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
}

.pacman-font{ font-family: 'Press Start 2P'; }

h1 {
    // font
    font-size: 80px;
    line-height: 94px;
    color: $dark-gray;

    // center
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    color: $dark-gray;
    text-align: left;
}

h3 {
    font-size: 25px;
    color: $lightest-gray;
    text-align: left;
}

h4 {
    font-size: 40px;
    color: $dark-gray;
}

footer { background-color: $lightest-gray; }

button {
    background-color: transparent;
    justify-self: center;
    border: none;
}

.board-container { padding-top: 7%; }

button:focus { outline:0; }

/* General button style */
.general {
    background-color: $lightest-gray;
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom: 3px solid $light-gray;

    // text
    text-align: center;
    color: $dark-gray;
    font-size: 20px;

    width: fit-content;
    align-self: center;
    transition: all 0.2s;

    //small devices
    @media only screen and (max-width: 600px) {
        padding: 10px 10px;
    }
}

.general:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 3px $light-gray;
    color: white;
}

.general:active { color: $dark-gray; }

.padded-top { margin-top: 80px; }

.padded-bottom { margin-bottom: 80px; }

/* Game cards for landing page*/
.card {
    // gray border
    border-radius: 30px;
    border: 7px solid $light-gray;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;

    overflow: hidden;
}

.card:hover { transform: scale(1.02); }

.card:active { border: 7px solid $pink; }

.card img {
    margin-left: -10px;
    margin-top: -10px;
    width: 110%;
}

/* Common styles for settings page */
.settings-page {        // entire page
    width: 100%;
    height: 200vh;
}

.fixed {                // themed background
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.content-container {    // entire content, including title
    margin-top: 13vh;
    text-align: center;
}

.settings-div {        // box containing settings
    width: 50vw;
    height: 200px;
    border-radius: 30px;

    margin: auto;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.setting-box { width: 100%; } // single box

.setting-text { width: 30%; }

.pop-up {
    margin-left: 85vw;
    margin-top: 15vh;
    background-color: $lightest-gray;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Common styles for board game */
.square {
    height: 97px;
    width: 97px;
    align-self: center;

    border-radius: 20px;
    margin-top: 5px;

    //small devices
    @media only screen and (max-width: 600px) {
        height: 15vw;
        width: 15vw;
    }
}

.field {
    width: 35px;
    height: 35px;
    margin-top: -2px;

    //small devices
    @media only screen and (max-width: 600px) {
        height: 4vw;
        width: 4vw;
    }
}

.across {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 7px;
}

.space-around {
    align-content: space-around;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    //small devices
    @media only screen and (max-width: 800px) {
        flex-direction: row;
    }
}

.full-height { height: 100vh; }

.separator {
    height: 10px;
    width: 10px;
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

.paused-screen {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(244, 244, 244, 0.3);
}

.star-box {
    padding-top: 50px;
    padding-bottom: 100px;
}

.rating-star {
    stroke-width: 2px;
    color: $light-gray;
}

.rating-star-filled {
    color: #FFC904;
    fill: #FFC904;
}

.bigItem {
    height: 100px;
    width: 100px;
}

.home {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    background-color: $lightest-gray;
    border-radius:10%;
}

.home:hover {
    box-shadow: 0 5px 7px $light-gray;
}